@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* CSS Document */

:root{
	var-purple:#A155A1;
    --purple: #A155A1;
	var-dkpurple:#712772;
    --dkpurple: #712772;
	var-violet:#69449A;
    --violet: #69449A;
	var-bgblue:#EDF7FA;
    --bgblue: #EDF7FA;
	var-bgpurple:#FFF2FF;
    --bgpurple: #FFF2FF;
	var-bgwhite:#FFFCFF;
    --bgwhite: #FFFCFF;
	var-body:#4D4755;
    --body: #4D4755;
	var-header:#645C6E;
    --header: #645C6E;
}
/* Base */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, section, summary {
	display: block;
}
html {
	height: 100%;
	font-size: 62.5%;
	scroll-behavior: smooth;
	margin: 0rem;
}
body{
	font-size: 1.6rem;
	height: 100%;
	margin: 0;
	/*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;*/
	font-family: Baskerville, "Times New Roman", "serif";
	color: var(body);
    color: var(--body);
	background-color: var(bgwhite);
    background-color: var(--bgwhite);
}
p{ 
	margin: 1rem 0 1rem 0;
	color: inherit;
	display: block;
	font-size: inherit;
	font-weight: normal;
	font-style: normal;
	line-height: 150%;
	letter-spacing: .25px;
}
b{
	font-weight: 600;
}
q{ 
	color: inherit;
	display: block;
	font-size: 2.8rem;
	font-weight: normal;
	font-style: italic;
}
h1, h2, h3, h4, h5, h6{
	font-family: "Lato", Helvetica, Arial, "Myriad Pro", "sans-serif";
	margin-block: .5rem;
	font-weight: 300;
}
hr{
	max-width: 1024px;
	border: 0;
	border-top:1px solid var(--purple);
	border-top:1px solid var(purple);
	opacity: .25;
    width: 100%;
}
ul, li{
	line-height: 150%;
	letter-spacing: .25px
}

/* Type */
.xl{
	font-size:  7.2rem;
	color: var(header);
    color: var(--header);
	line-height: 7.2rem;
}
.lg{
	font-size:  3.6rem;
	color: var(header);
    color: var(--header); 
}
.md{
	font-size:  2.8rem;
}

/* Buttons */
a{
	color: var(dkpurple);
    color: var(--dkpurple); 
	text-decoration: none;
}
a:hover{
	color: var(dkpurple);
    color: var(--dkpurple);  
	text-decoration: underline;
}
a.selected {
	color: var(dkpurple);
    color: var(--dkpurple); 
	text-decoration: underline;
	font-weight: semibold;
}
a.filled{
	color: var(bgwhite);
    color: var(--bgwhite);
	background-color: var(purple);
    background-color: var(--purple);
	padding: .8rem 1.6rem;
	margin: .4rem;
	display: inline-flex;
	text-decoration: none;
	border-radius: .4rem;
	font-style: italic;
}
a.filled:hover{
	color: var(bgwhite);
    color: var(--bgwhite);
	background-color: var(dkpurple);
    background-color: var(--dkpurple);
	text-decoration: underline;
	font-style: italic;
}
a.filledlg{
	color: var(bgwhite);
    color: var(--bgwhite);
	background-color: var(purple);
    background-color: var(--purple);
	padding: 1.6rem 1.6rem;
	margin: .4rem;
	display: inline-flex;
	text-decoration: none;
	border-radius: .4rem;
	font-style: italic;
}
a.filledlg:hover{
	color: var(bgwhite);
    color: var(--bgwhite);
	background-color: var(dkpurple);
    background-color: var(--dkpurple);
	text-decoration: underline;
	font-style: italic;
}
a.outline{
	/* Frame 3 */
	color: var(dkpurple);
    color: var(--dkpurple);
	border: 1px solid;
	border-color: var(dkpurple);
	border-color: var(--dkpurple); 
	padding: 1.6rem 1.6rem;
	margin: .4rem;
	display: inline-flex;
	text-decoration: none;
	border-radius: .4rem;
	font-style: italic;
}
a.outline:hover{
	color: var(dkpurple);
    color: var(--dkpurple);
	background-color: rgba(0,0,0,.25);
	text-decoration: underline;
	font-style: italic;
}
a.outlinewt{
	/* Frame 3 */
	color: var(bgwhite);
    color: var(--bgwhite);
	border: 1px solid;
	border-color: var(bgwhite);
	border-color: var(--bgwhite); 
	padding: 1.6rem 1.6rem;
	margin: .4rem;
	display: inline-flex;
	text-decoration: none;
	border-radius: .4rem;
	font-style: italic;
}
a.outlinewt:hover{
	color: var(bgwhite);
    color: var(--bgwhite);
	background-color: rgba(0,0,0,.25);
	text-decoration: underline;
	font-style: italic;
}
a.link{
	color: inherit;
	text-decoration: underline;
}
a.link:hover{
	color: inherit;
	text-decoration: underline;
}

/* Layout */
.endalign{
	justify-self:end;
	text-align: center;
}
.startalign{
	justify-self:start;
	text-align: center;
}
.centeralign{
	justify-self:center;
	text-align: center;
}
.min{
	max-width: 1024px;
	margin: auto;
}
.mini{
	max-width: 548px !important;
	margin: auto;
}
.eight{
	max-width: 800px !important;
	margin: auto;
}
.height80{
	min-height: 80%;
}
/* Image */
.image-shadow {
	width: 100%;
	box-shadow: 0 0 .5rem 0 rgba(0,0,0,0.38);	
	border-radius: 3px;
}
.image-home{
	width: 23.6rem;
	height: 23.6rem;
	object-fit: cover;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 100%;
}
.image-contact{
	width: 100%;
	height:80%;
	object-fit: cover;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 100%;
}
.div-pk{
	width: 10.6rem;
	height: 10.6rem;
	border: 1px solid var(purple);
	border: 1px solid var(--purple);
	background: white;
	border-radius: 50%;
}
.image-pk{
	object-fit: cover;
	margin: 1.6rem;
	width: 7.2rem;
	height: 7.2rem;
}
.home-pk{
	width: 10.6rem;
	height: 10.6rem;
	border: 1px solid var(purple);
	border: 1px solid var(--purple);
	border-radius: 50%;
}
.imagenoborder {
	width:100%;
}
.alignb{
	align-items: baseline;
}
.alignc{
	align-items: center;
}
.flex {
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	gap: 2rem 2rem;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.grid {
	max-width: 1024px;
	margin: 0 auto;
	display: grid;
	gap: 2rem 2rem;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.grid3 {
	max-width: 1024px;
	margin: 0 auto;
	display: grid;
	gap: 2rem 2rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.ulgrid3 {
	max-width: 1024px;
	margin: 0 auto;
	display: grid;
	gap: 0.5rem 2rem;
	align-items: baseline;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.textgrid3 {
	max-width: 1024px;
	margin: 0 auto;
	display: grid;
	gap: 2rem 2rem;
	align-items: baseline;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.textgrid {
	max-width: 1024px;
	margin: 0 auto;
	display: grid;
	gap: 2rem 2rem;
	align-items: baseline;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.normal {
	padding:7vmax 2rem;
}
.split {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    gap: 2rem 2rem;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
/*Purple Box*/
.purple {
	background: var(purple);
    background: var(--purple);
	padding:8vmax 2rem;
}
.white{
	color: var(bgpurple);
	color: var(--bgpurple);
}
.width100{
	width: 100%;
}

/* Misc */
.tooltip {
	position: relative;
	display: inline-block;
	color: var(dkpurple);
    color: var(--dkpurple);
	text-decoration: underline;
	border-bottom: 1px var(dkpurple);
	border-bottom: 1px var(--dkpurple);
}
.tooltip .tooltiptext {
	color: var(body);
	color: var(--body);
	visibility: hidden;
	width: 26rem;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: #FFFFFF;
	padding: 1.6rem;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -13rem;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}
/*Home Circles*/
.home-prpl {
	padding:14vmax 2rem;
	background: var(dkpurple);
    background: var(--dkpurple);
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../img/softcircles.png"), -webkit-linear-gradient(306deg, #A155A1 0%, #552455 100%);
	background-image: url("../img/softcircles.png"), -o-linear-gradient(306deg, #A155A1 0%, #552455 100%);
	background-image: url("../img/softcircles.png"), linear-gradient(36deg, #A155A1 0%, #552455 100%);
}

/* Header */
header {
	background-size: cover;
	padding: 0vmax .8rem;
	background-color: var(bgpurple);
	background-color: var(--bgpurple);
	box-shadow: 0 0 4px 0px rgba(0,0,0,0.25);
	width: 100%;
	position: static;/*change to fixed*/
  	z-index: 999;
	margin: auto;
}
.content {
	max-width: 1024px;
	padding: 0;
	margin: auto;
}

.navbtngrid {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 1rem;
	align-items: center;
	margin-block: .5rem;
}
.navbtn{ 
	display: block;
	font-size: 1.6rem;
	font-weight: normal;
	font-style: normal;
}
.logo {
	max-width: 100%;
	max-height: 8.8rem;
	padding: 0rem 0rem;
}

.navlist {
	list-style: none;
	padding: initial;
	margin: 0;
	font-size: 1.6rem;
}
.toggler {
	color: var(bgwhite);
	color: var(--bgwhite);
	background-color: var(purple);
	background-color: var(--purple);
	padding: .8rem 1.6rem;
	text-decoration: none;
	border-radius: .4rem;
	cursor: pointer;
	position: absolute;
	top: 0;
    right: 0;
    margin: 2.7rem 3.2rem;
}

nav {
	width: 100%;
	display: none;
}
nav ul {
	list-style: none;
	display: inline-block;
  	transition: 0.3s ease-out;
}
nav li {
	padding: .8rem 1.6rem;
}

/* Footer */
.footer {
	background: linear-gradient(119.36deg, #A155A1 0%, #552455 100%);
	padding: 2.5rem;
	color: var(bgwhite);
    color: var(--bgwhite);
}
.footergrid {
	max-width: 1024px;
	margin: 0 auto;
	grid-gap: 1rem;
	display: grid;
	align-items: center;
	grid-template-columns: auto auto;
	justify-content: space-between;
}
.footerbtns{ 
	font-size: 1.6rem;
	display: block;
	font-weight: lighter;
	margin: 0;
}
.copyright{ 
	font-size: 1.4rem;
	display: block;
	font-weight: lighter;
}
a.foot {
	text-decoration: none;
	color: var(bgwhite);
    color: var(--bgwhite);
	margin: 0vmax 1.6rem;
}
a.foot:hover {
	color: var(bgwhite);
    color: var(--bgwhite);
	text-decoration: none;
	border-bottom: 2px solid var(bgwhite);
	border-bottom: 2px solid var(--bgwhite);
}

/* Mobile Menu */
@media screen and (min-width: 872px) {
.toggler {
    display: none;
}  
  nav {
    display: inline-block !important; /* prevent the nav to hide when resize */
    position: relative;
    width: auto;
    float: right;
}
  nav ul {
    float: left;
}
  nav ul li {
    display: inline-block;
}
  nav li {
	display: inline-block;
	padding: 2.6rem 1.6rem;
}
}